@font-face {
  font-family: futurastd_medium;
  src: url(futurastd_medium.otf);
}

@font-face {
  font-family: futurastd_light;
  src: url(futurastd_light.otf);
}

  #grisclaro{
    background-color: #CECECE;
    font-family: futurastd_medium;
  }

   #grisclaro2{
    background-color: #EDEAE8;
    font-family: futurastd_medium;
  }

.menu {
  background-color: #AEEDE6;
  border: none;
  color: #70C0B3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.menu:hover {
  color: white;
  background-color: #9C86EA;
}

footer {
  background-color: #686868;
  font-family: futurastd_light;
  font-size: 12px;
}

.lightfont{
    font-family: futurastd_light;
}

